@model SentenceDto

@{
    ViewData["Title"] = "Solbeg Recruitment Task";
}


<div>
    <div class="text-center">
        <h1 class="display-4">Reverse Text Application</h1>
    </div>
</div>

@using (Html.BeginForm("ProcessText", "Home", FormMethod.Post))
{
    <div class="form-group">
        <h3>
            <label asp-for="InputSentence"></label>
        </h3>
        <input asp-for="InputSentence" class="form-control"/>
        <input type="submit" value="Process Text" class="btn btn-primary" />
        <a asp-controller="Sentence" asp-action="Index" class="btn btn-secondary">Go to Sentence History</a>
    </div>
}


<div class="text-center">
    <h2>
        @if(Model !=null && String.IsNullOrEmpty(Model.ErrorMessage))
        {
            @Model.OutputSentence
        }
        else if (Model != null)
        {
            @Model.ErrorMessage
        }
    </h2>
</div>