@model IEnumerable<SentenceDto>
@{
	ViewData["Title"] = "Solbeg Recruitment Task";
}
<h1>History of records</h1>
<table class="table table-bordered table-striped" style="width:100%">
	<thead>
		<tr>
			<th>
				Original Sentence
			</th>
			<th>
				Reversed Sentence
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model){
			<tr>
				<td width="50%">
					@obj.InputSentence
				</td>
				<td width="50%">
					@obj.OutputSentence
				</td>
			</tr>
		}
	</tbody>
</table>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>